#root {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #334a81, #030811);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(247, 247, 247, 0.3); /* 0.3 = 30% opacidade */
  height: 80vh;
  width: 65vw;
  padding: 10px;
}
