#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  text-align: center;
}
.container {
  position: relative;
  background-image: url('');
  display: flex;
  background-size: contain;
  height: 95vh;
  width: 90vw;
  overflow-y: hidden; /* se o conteúdo for maior que a tela, ativa scroll */
}
