/* Card de login */
.login-box {
  background: #1e293b;
  padding: 35px 28px;
  border-radius: 12px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.5);
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
h2 {
  text-align: center;
  margin-bottom: 5px;
  color: #60a5fa;
  font-weight: 600;
}
a {
  color: #ffffff;
  text-decoration: none;
  border-radius: 1rem;
  height: 1rem;
  padding: 0.2rem;
}
a:hover {
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 1rem;
  height: 1rem;
}
